.selected {
    background-color: lightblue;
}

.list-group-item {
    color: darkslategray;
    font-weight: bold;
    cursor: pointer;
}

.max-height {
    height: 245px;
}

.elipsis {
    white-space: wrap; 
    width: 300px; 
    overflow: hidden;
    text-overflow: inherit;
  }

main {
    background-color:lightgray;
}