<app-header [cartItemCount]="cartItemCount"></app-header>
<main>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-3">
                <h1>Categories</h1>
                <div class="category-group">
                    <span *ngFor="let cat of categories" [ngClass]="{'selected' : cat.id === selecTedCategory.id}"  
                        (click)="getProducts(cat)" class="list-group-item"> {{ cat.name }}
                        <i class="ni ni-curved-next" *ngIf="cat.id === selecTedCategory.id"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-9">
                <h2 class="mb-3">{{selecTedCategory.name}}</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row row-grid">
                            <div class="col-lg-4 col-md-4 col-sm-6 mb-3" *ngFor="let prod of products">
                                <div class="card shadow border-0"> 
                                    <a [routerLink]="['/nuts-about-candies/', prod.id]">
                                        <img class="card-img-top" src="{{prod.img}}" alt="Card image cap">
                                    </a>
                                    <div class="card-body max-height">
                                      <form [formGroup]="formGroupProduct" (ngSubmit)="addToCart(prod.id, prod.productSizes)">
                                        <a class="text-primary text-uppercase h6" [routerLink]="['/nuts-about-candies/', prod.id]">
                                            {{prod.name}}</a>
                                        <p class="small">{{(prod.description.length > 50) ? (prod.description | slice:0:60) + '...' : prod.description }}</p>
                                        <div class="text-center">
                                            <span class="badge badge-pill badge-primary mr-2" 
                                                [ngClass]="{'badge-warning' : prod.classification === 'PREMIUM'}">
                                                {{ prod.classification }}
                                            </span>
                                            <span class="text-underline">Stock: {{ (prod.stock >= 1000) 
                                                    ? (prod.stock / 1000.0) + 'kg' : (prod.stock) + 'gm' }}
                                            </span>
                                        </div>
                                        <div class="mt-2">
                                            <table class="mx-auto">
                                                <tr *ngFor="let size of prod.productSizes">
                                                    <td>
                                                        <div class="form-check">
                                                            <label>
                                                                <input type="radio" name="size" formControlName="size"
                                                                    value="{{size.size}}" class="form-check-input"/>
                                                                {{size.label}}
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td width="50px" style="text-align: right;">{{size.prize | currency : '&#8369;'}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <div class="mr-2" *ngIf="prod.stock > 50">
                                                <input type="number" formControlName="quantity" name="quantity" class="form-control"  />
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary " *ngIf="prod.stock >= 50">
                                                    Add to Cart</button>
                                                <div class="alert alert-warning" role="alert" *ngIf="prod.stock < 50">
                                                    <strong>Out of Stock</strong>
                                                </div>
                                            </div>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
