<app-header [cartItemCount]="cartItemCount"></app-header>
<main>
    <div class="row justify-content-center my-5" *ngIf="cartItemCount === 0">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card-body text-center">
                <div class="alert alert-success" role="alert" *ngIf="checkoutSuccess === true">
                    <strong>Checkout Success!</strong> 
                    Go to <a [routerLink]="['/order-history']">Order History</a> to view your orders.
                </div>
                <h2>There's no Item in your Cart.</h2>
                <h3><a [routerLink]="['/nuts-about-candies']">Shop</a> now!</h3>
            </div>
        </div>
    </div>

    <div class="container my-3" *ngIf="cartItemCount > 0">
        <h2>Items for Checkout</h2>
        <div class="row px-1" *ngIf="cartItemCount > 0">
            <table class="table table-striped">
                <thead>
                    <th>No.</th>
                    <th>Category</th>
                    <th>Product Name</th>
                    <th>Size</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">SubTotal</th>
                    <th>Weight</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartItems; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{item.productDetails.category}}</td>
                        <td>
                            {{item.productDetails.name}}
                            <span class="badge badge-pill badge-primary ml-2" 
                                [ngClass]="{'badge-warning' : item.productDetails.classification === 'PREMIUM'}">
                                {{ item.productDetails.classification }}
                            </span>
                        </td>
                        <td>{{item.productSize.label}}</td>
                        <td class="text-right">{{item.quantity}}</td>
                        <td class="text-right">{{item.productSize.prize | currency : '&#8369;'}}</td>
                        <td class="text-right">{{item.subTotal | currency : '&#8369;'}}</td>
                        <td>{{(item.totalWeight >= 1000) 
                            ? (item.totalWeight / 1000) + 'kg' : (item.totalWeight) + 'gm' }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-md" 
                                (click)="removeToCart(item.id, item.productDetails.name)">
                                <i class="ni ni-fat-remove"></i>Remove Item
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <table class="table">
                    <tr>
                        <td><b>Total Weight</b></td>
                        <td>{{ (checkoutDetails.totalWeight >= 1000) 
                            ? (checkoutDetails.totalWeight / 1000) + 'kg' : (checkoutDetails.totalWeight) + 'gm' }}</td>
                    </tr>
                    <tr>
                        <td><b>Sub-Total:</b></td>
                        <td>{{checkoutDetails.subTotal | currency : '&#8369;'}}</td>
                    </tr>
                    <tr>
                        <td><b>Delivery Fee:</b></td>
                        <td>{{checkoutDetails.deliveryFee | currency : '&#8369;'}}</td>
                    </tr>
                    <tr>
                        <td><b>Discount:</b></td>
                        <td>{{checkoutDetails.discount | currency : '&#8369;'}}</td>
                    </tr>
                    <tr>
                        <td><b>Total Amount:</b></td>
                        <td>{{checkoutDetails.total | currency : '&#8369;'}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <p><i class="ni ni-check-bold"></i>{{checkoutDetails.shelfLifeNuts}}</p>
                <p><i class="ni ni-check-bold"></i>{{checkoutDetails.shelfLifeCandies}}</p>
                <p><i class="ni ni-check-bold"></i>{{checkoutDetails.deliveryNote}}</p>
                <p><i class="ni ni-check-bold"></i>{{checkoutDetails.discountNote}}</p>
                <div class="alert alert-danger" role="alert" *ngIf="checkoutError !== ''">
                    {{checkoutError}}
                  </div>
                <p>
                    <button type="button" (click)="checkout(checkoutDetails)" class="btn btn-primary">
                        <i class="ni ni-check-bold"></i>Checkout</button>
                </p>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>