<app-header></app-header>
<main>
    <div class="container my-3">
        <h2>Sales Report</h2>
        <div class="row px-2 py-2">
            <div class=" d-inline-flex">
                <h4 class="mr-2">Profit Margin </h4>
                <div>
                    <select class="form-control" (change)="getSalesReportOnChange($event.target.value)">
                        <option>Select Month</option>
                        <option *ngFor="let rm of reportMonth" [selected]="rm.value === yearMonth"
                            value="{{rm.value}}"> {{rm.label}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row px-2 py-2">
            <table class="table col-6 table-striped">
                <thead>
                    <tr>
                        <th>Gross Sales</th>
                        <th>Total Discount</th>
                        <th>Net Sales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>{{salesReport.grossSales | currency: '&#8369;'}}</b></td>
                        <td><b>{{salesReport.totalDiscount | currency: '&#8369;'}}</b></td>
                        <td><b>{{salesReport.netSales | currency: '&#8369;'}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row px-2 py-2">
            <table class="table table-sm table-striped">
                <thead>
                    <th>No.</th>
                    <th class="pointer" (click)="sortCategory()">Category
                        <i class="ni ni-bold-down" id="cat" [hidden]="isCategoryAsc"></i>
                        <i class="ni ni-bold-up" id="cat" [hidden]="isCategoryAsc === false"></i>
                    </th>
                    <th class="pointer" (click)="sortProductName()">Product Name
                        <i class="ni ni-bold-down" id="productName" [hidden]="isProductNameAsc"></i>
                        <i class="ni ni-bold-up" id="productName" [hidden]="isProductNameAsc === false"></i>
                    </th>
                    <th class="text-right pointer" (click)="sortQuantity()">Quantity
                        <i class="ni ni-bold-down" [hidden]="isQuantityAsc"></i>
                        <i class="ni ni-bold-up" [hidden]="isQuantityAsc === false"></i>
                    </th>
                    <th class="text-right pointer" (click)="sortWeight()">Weight
                        <i class="ni ni-bold-down" [hidden]="isWeightAsc"></i>
                        <i class="ni ni-bold-up" [hidden]="isWeightAsc === false"></i>
                    </th>
                    <th class="text-right px-3 pointer" (click)="sortPrice()">Price
                        <i class="ni ni-bold-down" [hidden]="isPriceAsc"></i>
                        <i class="ni ni-bold-up" [hidden]="isPriceAsc === false"></i>
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of salesReport.salesItems; index as i">
                        <td class="pl-3">{{ i + 1}}</td>
                        <td>{{ item.category }}</td>
                        <td>
                            {{ item.productName }}
                            <span class="badge badge-pill badge-primary ml-2" 
                                [ngClass]="{'badge-warning' : item.classification === 'PREMIUM'}">
                                {{ item.classification }}
                            </span>
                        </td>
                        <td class="text-right">{{ item.quantity }}</td>
                        <td class="text-right">
                            {{ (item.weight >= 1000) 
                                ? (item.weight / 1000.0) + 'kg' : (item.weight) + 'gm' }}
                        </td>
                        <td class="text-right px-3">{{ item.price | currency: '&#8369;'}}</td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="4"><b>
                            Total Qty: {{salesReport.totalQuantity}}</b></td>
                        <td class="text-right"><b>
                            Total Weight: {{ (salesReport.totalWeight >= 1000) 
                                ? (salesReport.totalWeight / 1000.0) + 'kg' : (salesReport.totalWeight) + 'gm' }}</b></td>
                        <td class="text-right pr-3"><b>Total Price: {{salesReport.totalPrice | currency: '&#8369;'}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>
<app-footer></app-footer>
