  <nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
      <a class="navbar-brand" [routerLink]="'.'">Nuts About Candy</a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a [routerLink]="'.'">Nuts About Candy</a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed"
                    [attr.aria-expanded]="!isMenuCollapsed" aria-controls="navbar_global">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item" *ngIf="user.access === 'ADMIN'">
            <a class="nav-link nav-link-icon" [routerLink]="['/inventory']" routerLinkActive="active">
              <span class="nav-link-inner--text">
                <i class="ni ni-bullet-list-67"></i> Inventory</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="user.access === 'ADMIN'">
            <a class="nav-link nav-link-icon" [routerLink]="['/reports']" routerLinkActive="active">
              <span class="nav-link-inner--text">
                <i class="ni ni-chart-bar-32"></i> Reports</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="user.access === 'MEMBER'">
            <a class="nav-link nav-link-icon" [routerLink]="['/nuts-about-candies']">
              <span class="nav-link-inner--text">
                <i class="ni ni-shop"></i> Shop</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="cartItemCount === 0">
            <a class="nav-link nav-link-icon pointer" >
              <span class="badge badge-secondary"
                  placement="bottom" ngbPopover="There is no Item in your Cart. Please add Item/s first.">
                <i class="ni ni-cart"></i> Cart( <b> 0 </b> )</span>
              </a>
          </li>
          <li class="nav-item" *ngIf="cartItemCount > 0">
            <a class="nav-link nav-link-icon" [routerLink]="['/my-cart']">
              <span class="badge badge-secondary">
                <i class="ni ni-cart"></i> Cart( <b> {{ cartItemCount }} </b> )</span>
              </a>
          </li>
          <li class="nav-item" ngbDropdown placement="bottom-right">
            <a class="nav-link nav-link-icon no-caret pointer" id="navbar-user" ngbDropdownToggle>
              <span class="nav-link-inner--text ">Hi! {{user.firstName}}
                <i class="ni ni-button-power"></i>
              </span>
            </a>
            <div class="dropdown-menu-right" aria-labelledby="navbar-user" ngbDropdownMenu>
              <a class="dropdown-item" *ngIf="user.access === 'MEMBER'"
                [routerLink]="['/order-history']">Order History </a>
              <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>