<app-header [cartItemCount]="cartItemCount"></app-header>
<main>
    <div class="container my-3">
        <h2>Order History</h2>
        <div class="row">
            <div class="col-12">
                <ngb-accordion [closeOthers]="false" activeIds="static-0">
                    <ngb-panel *ngFor="let order of orderHistory; index as i" id="static-{{i}}">
                      <ng-template ngbPanelHeader class="bg-secondary">
                        <div class="d-flex align-items-center justify-content-between">
                            <button ngbPanelToggle class="btn btn-link container-fluid text-left m-0">
                                #{{i + 1}} Purchased: {{order.dateTimeCreated | date:'medium'}}
                            </button>
                            <div class="col-2 text-right">
                                <h6>Item Count: {{order.itemCount}}</h6>
                                <h6>Delivery: {{order.deliveryFee | currency: '&#8369;'}}</h6>
                            </div>
                            <div class="col-2 text-right">
                                <h6>Discount : {{order.discount | currency: '&#8369;'}}</h6>
                                <h6>Total : {{order.total | currency: '&#8369;'}}</h6>
                            </div>
                        </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <table class="table table-striped">
                            <thead>
                                <th>No.</th>
                                <th>Category</th>
                                <th>Product Name</th>
                                <th>Size</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">SubTotal</th>
                                <th>Weight</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of order.cartItems; index as i">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{item.productDetails.category}}</td>
                                    <td>
                                        {{item.productDetails.name}}
                                        <span class="badge badge-pill badge-primary ml-2"
                                            [ngClass]="{'badge-warning' : item.productDetails.classification === 'PREMIUM'}">
                                            {{ item.productDetails.classification }}
                                        </span>
                                    </td>
                                    <td>{{item.productSize.label}}</td>
                                    <td class="text-right">{{item.quantity}}</td>
                                    <td class="text-right">{{item.productSize.prize | currency : '&#8369;'}}</td>
                                    <td class="text-right">{{item.subTotal | currency : '&#8369;'}}</td>
                                    <td>{{(item.totalWeight >= 1000)
                                        ? (item.totalWeight / 1000) + 'kg' : (item.totalWeight) + 'gm' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
