<main class="bg-gradient-primary mt-5">
<div class="container my-5 ">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6 col-sm-8">
        <div class="card bg-secondary shadow border-0 my-3">
          <div class="card-header text-center">
            <h3>Nuts About Candy</h3>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div *ngIf="invalidCredentialError" class="alert alert-danger" role="alert">
              Invalid username and password.
            </div>
            <div *ngIf="connectionError" class="alert alert-danger" role="alert">
              Connection to server seems faulty.
            </div>
            <form [formGroup]="formGroup" (ngSubmit)="login()">
              <div class="form-group mb-3" >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="username" placeholder="Username"  />
                </div>
              </div>
              <div class="form-group" >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password"  />
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>