<app-header [cartItemCount]="cartItemCount"></app-header>
<main>
    <div class="container my-4">
        <h2 class="text-center">Product Details</h2>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img src="{{product.img}}"/> 
            </div>
            <div class="col-md-4">
                
                <h4>Name: {{product.name}}</h4>
                <p>Classification:
                    <span class="badge badge-pill badge-primary ml-2" 
                        [ngClass]="{'badge-warning' : product.classification === 'PREMIUM'}">
                        {{ product.classification }}
                    </span>
                </p>
                <p>Category : {{product.category}}</p>
                <p>Description: {{product.description}}</p>
                <p>Available Stock: 
                    {{ (product.stock >= 1000) 
                        ? (product.stock / 1000.0) + 'kg' : (product.stock) + 'gm' }}
                </p>
                <div>
                    <form [formGroup]="formGroupProduct" (ngSubmit)="addToCart(product.id, product.productSizes)">
                        <table>
                            <tr *ngFor="let size of product.productSizes">
                                <td>
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" name="size" formControlName="size"
                                                value="{{size.size}}" class="form-check-input"/>
                                            {{size.label}}
                                        </label>
                                    </div>
                                </td>
                                <td width="50px" style="text-align: right;">{{size.prize | currency : '&#8369;'}}</td>
                            </tr>
                        </table>
                        <div class="d-inline-flex" *ngIf="product.stock > 50">
                            <input type="number" formControlName="quantity" 
                                name="quantity" class="form-control mr-2"  />
                            <button type="submit" class="btn btn-primary ">
                                Add to Cart</button>
                        </div>
                    </form>
                    <div *ngIf="product.stock < 50" class="d-inline-flex">
                        <div class="alert alert-warning" role="alert" >
                            <strong>Out of Stock</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>