<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 text-center mt-5">
            <h1>404</h1>
            <H3>Page not Found!</H3>
        </div>
    </div>
</div>