.inventory .product-name {
    font-size: large;
}

.inventory .product-desc {
    font-size: medium;
    font-style: italic;
}

.list-group-item {
    color: darkslategray;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    background-color: lightblue;
}