<app-header></app-header>
<main>
<div class="container">
    <div class="row">
        <div class="col-lg-3 my-4">
            <h1>Categories</h1>
            <div class="category-group">
                <span class="list-group-item">
                    <button type="button" title="Add New Category." (click)="openModal(categoryModal, '')"
                        class="btn btn-sm btn-outline-info mb-1 form-control" >
                        <i class="ni ni-fat-add"></i>Add Category</button>
                    <button type="button" title="Add 1000gm to All stocks." (click)="addStocks()"
                        class="btn btn-sm btn-outline-default mb-1 form-control">
                        <i class="ni ni-fat-add"></i>Add Stock (1Kg)</button>
                    <button type="button" title="Reset All stocks to 1000gm." (click)="resetStocks()"
                        class="btn btn-sm btn-outline-default form-control">
                        Reset Stock</button>
                </span>
            </div>
            <div class="category-group">
                <span *ngFor="let cat of categories" (click)="getProducts(cat)" [ngClass]="{'selected' : cat.id === selecTedCategory.id}"  class="list-group-item">
                    {{ cat.name }} <i class="ni ni-curved-next" *ngIf="cat.id === selecTedCategory.id"></i>
                </span>
            </div>
        </div>

        <div class="col-lg-9 mt-4">
            <div style="overflow: auto;">
                <h2>{{selecTedCategory.name}}
                <div style="float: right;">
                    <button type="button" title="Add New product to selected Category."
                        class="btn btn-outline-info mr-2" (click)="openModal(productModal, 'add')">
                        <i class="ni ni-fat-add"></i>Add Product</button>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteCategory()">
                        <i class="ni ni-fat-remove"></i>Delete Category</button>
                </div>
                </h2>
            </div>
            <table class="table inventory table-striped">
                <thead>
                    <tr>
                        <th with="5%">No.</th>
                        <th>Name</th>
                        <th width="15%">Stock</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of products; index as i">
                        <td>{{i + 1}}</td>
                        <td>
                            <span class="product-name mr-2">{{ prod.name }}</span>
                            <span class="badge badge-pill badge-primary"
                                [ngClass]="{'badge-warning' : prod.classification === 'PREMIUM'}">
                                {{ prod.classification }}
                            </span><br/>
                            <span class="product-desc">{{ prod.description }}</span>
                        </td>
                        <td><span class="product-stock">
                            {{ (prod.stock >= 1000)
                                ? (prod.stock / 1000.0) + 'kg' : (prod.stock) + 'gm' }}
                        </span></td>
                        <td>
                            <span ngbDropdown placement="bottom-right">
                              <a class="nav-link nav-link-icon no-caret" id="prod-action" ngbDropdownToggle>
                                <i class="ni ni-settings-gear-65"></i>
                              </a>
                              <div class="dropdown-menu-right" aria-labelledby="prod-action" ngbDropdownMenu>
                                <a class="dropdown-item" (click)="editProduct(prod.id)">Edit </a>
                                <a class="dropdown-item" (click)="deleteProduct(prod.id, prod.name)">Delete </a>
                              </div>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</main>
  <ng-template #productModal let-modal>
    <div class="modal-header bg-info">
      <h4 class="modal-title" id="productModal-title" >
        {{productModalTitle}}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formGroupProduct" (ngSubmit)="addProduct()">
        <div class="modal-body bg-secondary">
            <input type="hidden" name="id" formControlName="id" />
            <label for="name">Product Name:</label>
            <input type="text" class="form-control" name="name" formControlName="name"
                placeholder="Product name" required autofocus />
            <label for="description">Product Description:</label>
            <input type="text" class="form-control" name="description" formControlName="description"
                    placeholder="Product description" />
            <label for="classificationId">Product Classification</label>
            <select class="form-control" name="classificationId"
                formControlName="classificationId">
                <option *ngFor="let class of productClass"
                    value="{{ class.id }}"> {{class.name}} </option>
            </select>
        </div>
        <div class="modal-footer bg-secondary">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
  </ng-template>

  <ng-template #categoryModal let-modal>
    <div class="modal-header bg-info">
      <h4 class="modal-title" id="modal-basic-title">Add new Category</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formGroupCategory" (ngSubmit)="addCategory()">
        <div class="modal-body bg-secondary">
            <label for="name">Category Name:</label>
            <input type="text" class="form-control" name="name" formControlName="name"
                placeholder="Category name" required autofocus />
        </div>
        <div class="modal-footer bg-secondary">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
  </ng-template>

<app-footer></app-footer>
